<h1>Demo#hello</h1>
<p><%= @hello %></p>

<a href="/demo/index">Hello Page 1</a>
</br>
<%= link_to('Hello Page 2', {controller: 'demo', action: 'index'}) %>

<br />

ID: <%= params[:id] %><br />
ID: <%= @id %><br />
Next Page: <%= @page + 1 %><br />

<hr />

<%= params.inspect %>
